*
{
    margin:0;
    padding:0;
}
body
{
    background-image: url(annie-spratt-525824-unsplash.jpg);
    background-size:cover;
    font-family: fantasy;
    color:white;
}
div
{
    font-size:50px;
}
nav
{
    background-color:none;
}
nav li 
{
    padding: 1px;
    display:inline-block;
    font-family: fantasy;
    font-size:20px;
}
nav li a
{
    color:white;
    font-size:30px
}
nav li a:hover
{
    border:1px solid white;
}
article
{
    padding-top: 5px;
    width:80%;
    float:right;
    margin-top: :20px;
    margin-bottom: 10px;
    font-family: fantasy;
}

aside
{
    margin-left: 10px;
    width:15%;
    text-align: center;
    border:1px solid white;
    border-style:dotted;
    margin-top: 10px;
}
aside li a
{
    padding:1px;
    font-family: fantasy;
    color:white;
    border: 10px;
}
aside li a:hover
{
    border:1px solid white;
}
